@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
		Helvetica Neue, sans-serif;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}

input[type="file" i]::-webkit-file-upload-button {
	border: 1px solid rgba(28, 126, 214, 0.75);
	background: transparent;
	color: #1c7ed6;
	border-radius: 5px;
	line-height: 1.5;
	cursor: pointer;
}
